@use './partials/indexProjects.scss';
@use './partials/dashboard.scss';
@use './partials/indexTypes.scss';
@use './partials/indexTechnologies.scss';
@use './partials/login.scss';
@use './root.scss' as *;
@import '~bootstrap/scss/bootstrap';

.text-blue {
    color:$blue-first;
}

.text-blue-secondary {
    color:$blue-secondary;
}

.text-blue-dark {
    color:$blue-first-dark;
}

.bg-body {
    background: radial-gradient(circle at 100% 55%, $black 0%, $blue-first 90%, $black 100%);
}
.bg-conic {
    background: conic-gradient(from 292deg at 0% 0%, #222222 0%, #46ABFF 100%, #222222 100%);
}

button.bg-error:hover {
    color: $red-error;
}

body {
    background: radial-gradient(circle at 100% 55%, $black 0%, $blue-first 90%, $black 100%);
}

.nav-app {
    height:70px;
}

.main_register {
    height: calc(100vh - 70px);
}
#sidebarMenu {
    height: calc(100vh - 56px);
    background-color: $black;
}

#sidebarMenu ul li a:hover {
    color: $blue-first-darker !important;
}

li>i.fa-circle-dot {
    cursor: pointer;
}

main.col-md-9 {
    height: calc(100vh - 56px);
    overflow-y: scroll;
    background: linear-gradient(-90deg, $blue-secondary-light, $blue-first);
    //background: linear-gradient(-45deg,$blue-first, $blue-first-darker, $blue-secondary-light);
    background-size: 400% 400%; 
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



#desc {
    height: 100px;
    overflow-y: auto;
}


