@import '~bootstrap/scss/bootstrap';

#desc {
    height: 100px;
    overflow-y: auto;
}

.overlay {
    display: none;
}
i.fa-trash {
    display: none;
}


.overlay:hover {
    background-color: rgba(0, 0, 0, 0.73);
    display: block;
}

.overlay:hover .fa-trash {
    display: block;
}